In [37]:
#Import Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [47]:
#Import data
df = pd.read_csv("../Final_Datasets/MergedTVandMovies.csv", dtype='unicode', encoding='utf8')
df.head()

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime,movies,shows
0,0,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148,Movie,NaN
1,1,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136,Movie,NaN
2,2,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149,Movie,NaN
3,3,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116,Movie,NaN
4,4,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161,Movie,NaN

In [48]:
#Float Values
df["Year"] = df["Year"].astype(float)
df["IMDb"] = df["IMDb"].astype(float)
df["Netflix"] = df["Netflix"].astype(float)
df["Hulu"] = df["Hulu"].astype(float)
df["Prime Video"] = df["Prime Video"].astype(float)
df["Disney+"] = df["Disney+"].astype(float)
df

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime,movies,shows
0,0,Inception,2010.0,13+,8.8,87%,1.0,0.0,0.0,0.0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148,Movie,NaN
1,1,The Matrix,1999.0,18+,8.7,87%,1.0,0.0,0.0,0.0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136,Movie,NaN
2,2,Avengers: Infinity War,2018.0,13+,8.5,84%,1.0,0.0,0.0,0.0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149,Movie,NaN
3,3,Back to the Future,1985.0,7+,8.5,96%,1.0,0.0,0.0,0.0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116,Movie,NaN
4,4,"The Good, the Bad and the Ugly",1966.0,18+,8.8,97%,1.0,0.0,1.0,0.0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161,Movie,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22350,22350,Tut's Treasures: Hidden Secrets,2018.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,TV
22351,22351,Paradise Islands,2017.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,TV
22352,22352,Wild Russia,2018.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,TV
22353,22353,Love & Vets,2017.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,TV
22354,22354,United States of Animals,2016.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,TV

In [50]:
df = df[["Title", "Year", "Netflix", "Hulu", "Prime Video", "Disney+", "movies", "shows"]]
df

,Title,Year,Netflix,Hulu,Prime Video,Disney+,movies,shows
0,Inception,2010.0,1.0,0.0,0.0,0.0,Movie,NaN
1,The Matrix,1999.0,1.0,0.0,0.0,0.0,Movie,NaN
2,Avengers: Infinity War,2018.0,1.0,0.0,0.0,0.0,Movie,NaN
3,Back to the Future,1985.0,1.0,0.0,0.0,0.0,Movie,NaN
4,"The Good, the Bad and the Ugly",1966.0,1.0,0.0,1.0,0.0,Movie,NaN
...,...,...,...,...,...,...,...,...
22350,Tut's Treasures: Hidden Secrets,2018.0,0.0,0.0,0.0,1.0,NaN,TV
22351,Paradise Islands,2017.0,0.0,0.0,0.0,1.0,NaN,TV
22352,Wild Russia,2018.0,0.0,0.0,0.0,1.0,NaN,TV
22353,Love & Vets,2017.0,0.0,0.0,0.0,1.0,NaN,TV
22354,United States of Animals,2016.0,0.0,0.0,0.0,1.0,NaN,TV

In [ ]:
#Look at new shows 2018-2020 only
new_shows = df[(df["Year"] >= 2018)]

In [53]:
#grouping by year
groupeddf = df.groupby('Year')
groupeddf.head()

,Title,Year,Netflix,Hulu,Prime Video,Disney+,movies,shows
0,Inception,2010.0,1.0,0.0,0.0,0.0,Movie,NaN
1,The Matrix,1999.0,1.0,0.0,0.0,0.0,Movie,NaN
2,Avengers: Infinity War,2018.0,1.0,0.0,0.0,0.0,Movie,NaN
3,Back to the Future,1985.0,1.0,0.0,0.0,0.0,Movie,NaN
4,"The Good, the Bad and the Ugly",1966.0,1.0,0.0,1.0,0.0,Movie,NaN
...,...,...,...,...,...,...,...,...
16503,Steamboat Willie,1928.0,0.0,0.0,0.0,1.0,Movie,NaN
18598,Born To Explore,1914.0,1.0,0.0,0.0,0.0,NaN,TV
21396,Space: The New Frontier,1901.0,0.0,0.0,1.0,0.0,NaN,TV
21423,Gods & Monsters with Tony Robinson,1901.0,0.0,0.0,1.0,0.0,NaN,TV
21445,History of Westinghouse,1904.0,0.0,0.0,1.0,0.0,NaN,TV

TypeError: '>=' not supported between instances of 'SeriesGroupBy' and 'int'